apiVersion: v1
kind: Service
metadata:
  name: staliaswarden
  namespace: staliaswarden
  labels:
    app: staliaswarden
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: staliaswarden

